<a href="https://colab.research.google.com/github/FranciscaAlliende/APS-Failure-at-Scania-Trucks/blob/master/ScaniaTrucks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive")

import sys
sys.path.append('/content/drive/My Drive/Colab Notebooks')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

STEPS:
1. basic_prepro
 - input: raw dataset
 - output: basic preprocessesed dataset
2. null_values
 - input: basic preprocessesed train + test sets
 - output: y_train, X_train, y_test, X_test, wihout null values
 * hyperparameter. t: % of null values for a feature to be consideR: set at 50%
3. unbalanced classes (downsampling or SMOTE)
 - input: y, X unbalance pair
 - output: y, X balanced pair
 * hyperparameter: SMOTE number of neighbors: set at 100

In [2]:
import pandas as pd
import basic_prepro as bp
import null_values as nv
import unbalanced_classes as uc

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [3]:
train = pd.read_csv('/content/drive/My Drive/Colab Notebooks/aps_failure_training_set.csv')
test = pd.read_csv('/content/drive/My Drive/Colab Notebooks/aps_failure_test_set.csv')

In [4]:
# basic prepocessing
train = bp.data_prepro(train)
test = bp.data_prepro(test)

In [5]:
# null values
[y_train, X_train, y_test, X_test] = nv.null_values(train, test, t=0.5)

In [6]:
# downsampling
[y_down_train, X_down_train] = uc.downsampling(y_train, X_train)

In [7]:
X_down_train.head()

     aa_000        ac_000  ad_000  ae_000  ...    ee_008    ee_009  ef_000  eg_000
0  153204.0  1.820000e+02   126.0     0.0  ...       0.0       0.0     0.0     0.0
1  453236.0  2.926000e+03   126.0     0.0  ...  493800.0    6914.0     0.0     0.0
2   72504.0  1.594000e+03  1052.0     0.0  ...    3742.0       0.0     0.0     0.0
3   31584.0  3.480000e+02   126.0     0.0  ...  426088.0  156826.0     0.0     0.0
4   43528.0  2.130706e+09   550.0     0.0  ...  462260.0   44258.0     0.0     0.0

[5 rows x 162 columns]

In [8]:
y_down_train.head()

   class
0      1
1      1
2      1
3      0
4      0

In [9]:
# upsampling
[y_up_train, X_up_train] = uc.mySMOTE(y_train, X_train, 100)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [10]:
X_up_train.head()

    aa_000        ac_000  ad_000  ae_000  ...    ee_008  ee_009  ef_000  eg_000
0  76698.0  2.130706e+09   280.0     0.0  ...   73224.0     0.0     0.0     0.0
1  33058.0  0.000000e+00   126.0     0.0  ...   97576.0  1500.0     0.0     0.0
2  41040.0  2.280000e+02   100.0     0.0  ...   95128.0   514.0     0.0     0.0
3     12.0  7.000000e+01    66.0     0.0  ...       0.0     0.0     4.0    32.0
4  60874.0  1.368000e+03   458.0     0.0  ...  433954.0  1218.0     0.0     0.0

[5 rows x 162 columns]

In [11]:
y_up_train.head()

   class
0      0
1      0
2      0
3      0
4      0